body {
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: antiquewhite;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
    
}

#calculator {
    font-family: Arial, sans-serif;
    background-color: black;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}

#display {
    width: 1000%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: rgb(35, 35, 35);
    color: white;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgb(73, 73, 73);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;

}

button:hover {
    background-color: hsl(0, 0%, 40%);
}

button:active {
    background-color: hsl(0, 0%, 50%);
}

 .operation-btn {
    background-color: rgb(255, 166, 0);
 }

.operation-btn:hover {
    background-color: rgb(252, 187, 67);
}

.operation-btn:active {
    background-color: rgb(255, 200, 105);
}